$bg-primary: #fbf1c7;
$bg-secondary: #f2e5bc;
$bg-accent: #ebdbb2;

$text-primary: #3c3836;
$text-secondary: #504945;
$text-muted: #7c6f64;

$color-aqua: #427b58;
$color-blue: #076678;
$color-gray: #928374;

$color-orange: #af3a03;
$color-red: #9d0006;
$color-green: #79740e;